{% extends 'reviewer/conference_base.html' %}

{% block content %}
<div class="conference">
 
  <h2 class="text-primary">技术设备</h2>
  
  <div class="text">
	{% for equipment in equipments %}
	    <div> 
       {% if user.is_authenticated %}
	      <a href= "{%url 'reviewer:conference:equipment:equipment_detail' conference.ID equipment.ID %}">{{ equipment.name }} ({{ equipment.organization.shortname }})</a>
	    {% else %}
         {{ equipment.name }} ({{ equipment.organization.shortname }}) 
	    {% endif %}	    	    
	    </div>        
	{% empty %}
	    没有技术设备!
	{% endfor %}
  </div>
 
  
</div>
{% endblock content %}
