{% extends 'manager/manager_base.html' %}

{% block content %}
<h2 class="text-primary">审查/评审会议</h2>  

{% for conference in conferences %}
<div class="conference">
  
  <div class="text">
    <h2>
    {% if conference.can_access %}
    <a href= "{%url 'manager:conference:conference_detail' conf_id=conference.ID %}">{{ conference.name }}</a>
    {% else %}
    {{ conference.name }}
    {% endif %}
    
    
  {% if user.is_authenticated and user.username == conference.creator.username %}
    <a class="btn btn-default" href="{%url 'manager:conference:conference_remove' conf_id=conference.ID %}"><span class="glyphicon glyphicon-remove"></span></a>
  {%endif%}
  </h2>
  </div>
  <div class="date">
    会议时间 {{ conference.begin_date }} ～ {{ conference.end_date }}
  </div>
  <div class="text">
    创建人 {{ conference.creator }} ({{ conference.create_time }})
  </div>
  <div class="text">
    最后更新人 {{ conference.last_updater }} ({{ conference.last_update_time }})
  </div>
  
  <p>{{ conference.memo|linebreaks|slice:":500" }}........</p>

    
</div>
{% endfor %}

<br><br>
{% if user.is_authenticated%}
  <a class="btn btn-default" href="{% url 'manager:conference_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
{%endif%}

{% endblock content %}
