{% extends 'manager/base.html' %}

{% block breadcrumb %}
  <li><a href="{% url 'manager:conference_list' %}">主页</a></li>
  <li class="active">{{conference.name}}</li>
{% endblock %}

{% block sidebar %}
  <li><a href="{% url 'manager:conference:conference_detail' conference.ID %}">会议信息</a></li>
  <li><a href="{% url 'manager:conference:manager_list' conference.ID %}">会务组</a></li>          
  <li><a href="{% url 'manager:conference:reviewer_list' conference.ID %}">会议代表</a></li>
  <li><a href="{% url 'manager:conference:group_list' conference.ID %}">评审组</a></li>
  <li><a href="{% url 'manager:conference:equipment_list' conference.ID %}">技术设备</a></li>
{% endblock %}

