{% extends 'manager/conference_base.html' %}

{% block content %}
<div class="text">
 
    <h2 class="text-primary">会议代表</h2>

  <div>
  <div>
	{% for reviewer in reviewers %}
	    <div> {{ reviewer.fullname }} ({{ reviewer.username }}) 
	    <a class="btn" href="{% url 'manager:conference:reviewer_remove' conference.ID reviewer.username%}"><span class="glyphicon glyphicon-remove"></span></a>  
	    </div>        
	{% empty %}
	    没有会议代表!
	{% endfor %}
  </div>
 
	<div class="text">
	  {% if user.is_authenticated%}
	  <a class="btn btn-default" href="{% url 'manager:conference:reviewer_add' conference.ID %}"><span class="glyphicon glyphicon-plus"></span></a>
	  {%endif%}
	</div>
  
  </div>              
</div>
{% endblock content %}
